body{
  background-color: black;
}
a{
  text-decoration: none;
}
a, a:visited{
  color: white;
}
a, a:hover{
  color: aqua;
}
h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-size: 38px;
  font-style: bold;
  text-align: center;
  padding-top: 20px;
}
h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-size: 14px;
  font-style: regular;
  text-align: center;
}
h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-size: 18px;
  font-style: regular;
  text-align: center;
  margin-left: 15px;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 80%;
}
.about{
  float: left;
  width: 25%;
  text-align: center;
}  
.about img{
  border: 5px solid silver;
  border-radius: 644px;
  max-width: 90%;
  padding-left: 20%;
}
h4{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-size: 18px;
  font-style: regular;
  text-align: left;
  padding-top: 45px;
  padding-left: 30%;
}
}