body{
  background-color: black;
}
a{
  text-decoration: none;
}
a, a:visited{
  color: white;
}
a, a:hover{
  color: aqua;
}
h1{
  font-family: Trebuchet MS;
  color: white;
  font-size: 38px;
  font-style: bold;
  text-align: center;
  padding-top: 20px;
}
h2{
  font-family: Trebuchet MS;
  color: white;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}
h3{
  font-family: Trebuchet MS;
  color: white;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  margin-left: 15px;
}
h4{
  font-family: Trebuchet MS;
  color: white;
  font-size: 16px;
  font-weight: lighter;
  text-align: left;
  padding-left: 10%;
}
h5{
  font-family: Trebuchet MS;
  color: white;
  font-size: 14px;
  font-weight: lighter;
  text-align: left;
}
h6{
  font-family: Trebuchet MS;
  color: white;
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
}
.thunderstruck{
  font-family: Squealer;
  color: white;
  font-size: 12px;
  font-weight: lighter;
  text-align: left;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 80%;
}
.about{
  float: left;
  width: 30%;
  text-align: center;
  margin-left: 25px;
  margin-top: 35px;
}  
.about img{
  border: 2px solid lightgray;
  border-radius: 150px;
  max-width: 90%;
  padding: 1px
}
.sidebar{
  width: 65%;
  float: right;
  border: 2px solid lightgray;
  border-radius: 50px;
  margin-top: 20px;
  margin-right: 25px;
}
.portfolio{
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 5%;
}  
.portfolio img{
  border: 2px solid lightgray;
  border-radius: 10px;
  max-width: 90%;
  padding: 2px;
}
